<div class="sidebar" data-color="black" data-image="assets/img/sidebar-4.jpg">

    <!--
        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag
    -->


    <div class="sidebar-wrapper">
        <div class="logo">
            <div class="simple-text">
                <div>
                    <img src="assets/img/new_logo.png" width="100" height="100" class="img-circle" alt="">
                </div>
                <h5>Adminid<br><small><i class="pe-7s-note"></i>EDIT</small>
                </h5>
            </div>
        </div>

        <ul class="nav">

            <li>
                <a href="#project">
                    <i class="pe-7s-note2"></i>
                    <p >project</p>
                </a>
            </li>
            <li>
                <a href="#members">
                    <i class="pe-7s-users"></i>
                    <p>members</p>
                </a>
            </li>
            <li>
                <a href="#messagel">
                    <i class="pe-7s-mail"></i>
                    <p>message</p>
                </a>
            </li>
            <li>
                <a href="#hub">
                    <i class="pe-7s-plug"></i>
                    <p>hub</p>
                </a>
            </li>


            <li class="active-pro">
                <a href="/projectList">
                    <i class="pe-7s-left-arrow"></i>
                    <p>GO PROJECT LIST</p>
                </a>
            </li>


        </ul>
    </div>
</div>