<article>
	<section class="card">
	<h2>chat 01</h2>
	</section>

	<section class="card">
	<h2>chat 01</h2>
	</section>

	<button id="" class="btn-primary circle" style="position: fixed; bottom: 67px; right: 10px; width: 55px; height: 55px; box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5); color:#fff; border:none;"><i class="material-icons">message</i></button>
</article>