<article>
	<section>
		<h3>프로젝트 요청</h3>
		<ul  style="margin-top: 20px;">
		    	<li  style="list-style: none; width: 100%; clear: both;" ng-click="request(fin.usr_id)">
		    		<span>프로젝트명</span>
		    		<!-- <i class="material-icons">sms</i> -->
		    		<i class="material-icons" style="font-size: 2.5em; margin: 5px 20px 0 0; float: right;">person_add</i>
		    	</li>
		    </ul>
	</section>
</article>