<div class="bottom-bar">
    <ul class="bottomBar-ul">
        <li class="bottomBar-list">
            <i class="material-icons pt-xs">assignment</i>
            <p>TOPIC</p>
        </li>
        <li class="bottomBar-list">
            <i class="material-icons pt-xs">forum</i>
            <p>CHAT</p>
        </li>
        <li class="bottomBar-list">
            <i class="material-icons pt-xs">people</i>
            <p>TEAM</p>
        </li>
        <li class="bottomBar-list">
            <i class="material-icons pt-xs">account_circle</i>
            <p>TEAM</p>
        </li>
    </ul>
</div>
<!--
ICON FONTS
https://material.io/icons/#ic_description
-->