<!DOCTYPE html>
<html ng-app="jandiApp">
<%- include("mv-module/head.ejs"); %>


<body>



<form action="">
<div class="form-group has-success">
  <label class="form-control-label" for="inputSuccess1">Input with success</label>
  <input type="text" class="form-control form-control-success" id="inputSuccess1">
  <div class="form-control-feedback">Success! You've done it.</div>
  <small class="form-text text-muted">Example help text that remains unchanged.</small>
</div>
  
</form>




</body>
</html>